.ratingsinfo-mobile {
  margin-bottom: 22px;
  margin-top: 0.3em !important;
}

.footer-ratingstars > h2 {
  color: #54595d;
  border-bottom: 0;
  padding-bottom: 0.5em;
  font-size: 0.8em;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ratingsinfo-desktop {
  font-size: 80% !important;
}

/* desktop */
@media screen and (min-width: 1100px) {
  /* hide footer widget */
  .footer-ratingstars {
    display: none;
  }
}

/* mobile */
@media screen and (max-width: 1099.99px) {
  /* hide sidebar widget */
  #p-ratePage-vote-title {
    display: none;
  }
}

